:root {
    --title-text-color:#212121;
    --p-text-color:#757575;
    --highlight-color:#2196F3;
    --white-color:#FFFFFF;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--white-color);
    
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;

}

.link:hover,
.link:focus{
    color:  var(--highlight-color);
    
}
/* WEBstudio */
.logo-first {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color:  var(--highlight-color);
}

.logo-sec {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: var(--title-text-color);

}

/* навигация шапки */
.link-nav {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

/* контакты в шапке */
.link-contacts {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    color: var(--p-text-color);
}
/* Основной контент */
.btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625em;
    letter-spacing: 0.03em;
    color:  var(--title-text-color);
    
}

.btn:hover,
.btn:focus {
    background-color: var(--highlight-color);
    color: var(--white-color);
}

.subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
    color:  var(--title-text-color);
}

.text {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.875em;
letter-spacing: 0.03em;
color: var(--p-text-color);

}

/* подвал */
.footer {
    background-color: #2F303A;
}

.logo-footer-sec {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: var(--white-color);
}

.logo-footer-first {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color:var(--highlight-color);
}

/* adress */
.adress {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: var(--white-color);
}

/* контакты */

.foot-contacts {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}